:root {
  margin: 0;
  border: 0;
  padding: 0;
  width:100%;
  font-family:'Courier New', Courier, monospace;
  --darkgrey : #343330;
  --red: #BE1B09;
  --lightgrey: #DBD7D2;
  --blue: #7BAFD4;
  --gold: #db5a44;
}
h2 {
  color: var(--gold)
}

/* Navbar */
.nav-menu {
  border: none !important;
}

.nav-menu:focus {
  border: none !important;
}

.nav-links {
  display:flex;
  justify-content: center;
}

.nav-links :hover {
  text-decoration: underline var(--blue);
}

/* Welcome section */
.welcome-img{
  height: 100%;
}
.welcome-box{
  background-color: var(--darkgrey);
  border-radius: 50% 0 50% 0 ;
}
/* About section */
.about {
  color: black;
  background-color: lightgrey;
}
.about-msg {
  border-radius: 10px;
  border:white 2px solid;
}
 #abt-msg {
  font-size: small;
 }


/* Services section */
.services {
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  width:100%;
  height: 100%;
}
.service-row{
  padding: 2%;
}
.service-info {
  text-align: center;
  padding-inline: 10%;
}
.service-col {
  padding-block:1%;
}

.tech-learned {
  padding-top: 2%;
}

/* proj section */
.project-row {
  padding-block: 30px;
}
.proj-img {
  width: 100%;
  height: 100%;
}
/* Contact Section */
.contact-row {
  padding-block: 2%;
}
.contact-form {
  display: flex;
  justify-content: center;
}
.contact-info, .contact-info>a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.contact-info {
  background-color: var(--lightgrey);
  padding-block: 25%;
  text-align: center;
}
.contact-form {
  align-items: center;
}

/* Reviews */
.reviews {
  background-color:var(--lightgrey);
  height: 100%;
}
.review-card {
  width: 100%;
  border-radius: 10px;
}

/* Read more/less button */
.toggle-button {
  margin-left: 7px;
  color: lightskyblue;
  cursor: pointer;
}

.toggle-button:hover {
  color: lightslategray;
  text-decoration: underline;
}

/* Footer */
.footer{
  background-color: var(--darkgrey);
  padding: 2.5em;
  color: white;
  font-size: small;
  list-style-type: none ;
}
.ftr-col1>a {
  text-decoration: none;
  color: var(--blue);
}
.ftr-col1>a:hover {
  color:teal;
  text-decoration:line-through white ;
}

.ftr-col2{
  padding-bottom: 10%;
}
.ftr-dropdown {
  padding-top: 20%;
}

/* PORTFOLIO PAGE*/
.portfolio {
  height: 100%;
  background-color: var(--lightgrey);
  }
.ftrd-img{
  cursor: pointer;
}


/* MOBILE STYLES */
@media all and (min-width: 526px) and (max-width: 960px) {

  /* About */

  #about-msg {
    font-size: 10px;
  }
  
}
@media all and (min-width: 275px) and (max-width: 525px) {
/* Welcome */

  /* About */
  .about-badge {
    font-size: 12px;
  }
  #abt-msg {
    font-size: 11px;
  }
}
