:root {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: black;
  --darkgrey : #343330;

}
/* Intro section */
.welcome {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-block: 25%;

}

/* About section */
.about {
  display: flex;
  background-color: var(--darkgrey);
  color: white;
  padding-inline: 10%;
}
.abt-info{
  align-items: center;
  justify-content: center;
}
.intro-msg {
  padding-block: 20%;
}
.abt-banner {
  text-align: center;
  background-color: red;
  border-radius: 5px;
}

/* Services section */
.services {
  align-items: center;
  text-align: center;
  padding-block: 30px;
}
.srvc-row{
  padding: 2%;
}
.srvc-col {
  padding-block:1%;
}