:root {
  margin: 0;
  border: 0;
  padding: 0;
  --darkgrey : #343330;
  --red: #BE1B09;
  --lightgrey: #DBD7D2;
  --blue: #7BAFD4;
}

/* Navbar */
.nav-links , .nav-logo {
  display:flex;
  justify-content: center;
}

.nav-links :hover {
  text-decoration: line-through;
}

/* Welcome section */
.hero{
  width: 100%;
  height: 85vh;
  background-color: darkgrey;
}
.welcome-pic{
  background-color:var(--blue) ;
}

/* Banner section */
.welcome-banner {
  width:100%;
  height: 35vh;
}
#banner-bg {
  width:100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.banner-content {
  position:absolute;
  top: 95vh;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 15%;
}


/* About section */
.about {
  display: flex;
  background-color: var(--lightgrey);
  color: white;
  height: 70vh;
  width: 100%;
}
.abt-info{
  align-items: center;
  width: 100%;
  padding-inline: 10%;
}
.intro-msg {
  background-color: black;
  padding: 10% 3%;
  height: 100%;
  border-radius: 25px;
  border:#2072AF 5px solid;
  text-align: center;
}
 .intro-img {
  padding-left: 15%;
 }


/* Services section */
.services {
  align-items: center;
  text-align: center;
  padding-block: 30px;
  background-color: black;
  color: white;
  width:100%;
  height: 100vh;
}
.srvc-row{
  padding: 2%;
}
.srvc-info {
  text-align: center;
  padding-inline: 10%;
}
.srvc-col {
  padding-block:1%;
}

.tech-learned {
  padding-top: 2%;
}

/* Portfolio section*/

.portfolio {
  text-align: center;
  width: 100%;
}
.project-row {
  background-color: black;
  padding-top: 5%;
}
.proj-card {
  width: 100%;
  height:100%;
}

/* Contact Section */
.contact-row {
  padding-block: 2%;
}
.contact-form {
  display: flex;
  justify-content: center;
}
.contact-info, .contact-info>a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.contact-info {
  background-color: var(--red);
  padding-block: 20%;
  text-align: center;
}
.contact-form {
  padding-block: 5%;
  align-items: center;
}
#contact-btn {
  margin-top: 5%;
}

/* Reviews */
.reviews {
  background-color:var(--darkgrey);
}

/* Footer */
.footer{
  background-color: var(--red);
  padding: 2.5em;
  color: white;

}
.ftr-col2{
  padding-bottom: 10%;
}
.ftr-dropdown {
  padding-top: 20%;
}
